
@import "variables";
@import "mixin";
@import "fonts";
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header__nav--link {
    text-decoration: none;
    color: $base-color;
    @include fontstylebasic;
  
}
.header__nav--link:hover {
    color: $hover-color;
}
.header__nav--ul {
    list-style: none;
@include flex;
    gap: 68px;
}
header {
    padding-top: 45px;
}
.header__banner {
    padding-top: 51px;
    @include flex;
}
.main {
    padding-top: 66px;
}
.main__post-description {
   color: $base-color;
   @include fontbig;
   padding-bottom: 24px;
}
.main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
  }
  .main__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .main__card--titile {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;

color: #4E4E4E;

  }
  .main__card-description {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

display: flex;
align-items: center;

color: #7C7C7C;
  }
  .main__card--paragraph {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 186% */

display: flex;
align-items: center;

color: #5C5C5C;
width: 404px;
  }
  .main__posts {
    padding-top: 69px;
    background-color: $backround-color;
    width: fit-content;
  }
  .main__description--text {
   @include flex;
   gap: 736px; 
   text-transform: uppercase;
   padding-bottom: 24px;
  }
  .main__description--link {
    text-decoration: none;
    @include fontbig;
    color:$base-color ;
    text-transform: uppercase;
  }
  .main__description--page--link {
    text-decoration: none; color:$base-color ;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
/* identical to box height, or 169% */

display: flex;
align-items: center;
text-transform: uppercase;
  }
  .posts--flex {
    gap: 10px;
    @include flex;
    padding-bottom: 49px;
  }
  footer {
    background-color: $black-color;
@include flex;
flex-direction: column;
gap: 32px;
  }
  .icons-wrapper {
    gap: 5px;
    @include flex;
    flex-direction: row;
  }
  .footer__get-started {
   
    padding-top: 66px;
    @include   fontbig;
    color: white ;
  }
  .footer__parapgrap {
    color: white ;
    @include fontstylebasic;
    width: 684px;
    display: flex;
align-items: center;
text-align: center;
  }
  .footer__info {
    color: white ;
    @include fontstylebasic;
    width: 684px;
    @include flex;
  }

  