
@media (max-width:1920px) {
    .burger-menu-column {
        display: none;
    }
    .brg {
        display: none;
     }
    container {width: fit-content;}
.banner-sm {
display: none;
}
   .banner-md {
    display: none
   } 
    }
@media (max-width:1200px) {
    .burger-menu-column {
        display: none;
    }
    .brg {
        display: none;
     }
    container {width: fit-content;}
.banner-sm {
display: none;
}
   .banner-md {
    display: none
   } 
    }
@media (max-width: 768px) {
    .burger-menu-column {
        display: none;
    }
 .main--post1 {
    display: none;
 }
 .brg {
    display: none;
 }
 .main__post-description {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;
text-transform: uppercase;

color: #4E4E4E;

 }
 .main__description--text {
    gap: 334px;
 }
    .container {
     width: fit-content;
     
    }
    .main__cards {
        display: flex;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .main__card {
        justify-content: flex-start;
    }
    .banner-md {
        display: block;
       } 
.banner-bg {
    display: none;
}
.banner-sm {
    display: none;
    }
   }
   @media (max-width: 320px) {
     .container {
         width: fit-content;
         
        }
        header {
            padding-left: 26px;
        }
        .header__banner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .banner-sm {
            display: block;
            
            }
        .banner-bg {
            display: none;
        }
        .banner-md {
            display: none
           } 
          .header__nav {
            display: none;
           }
           .main--post1 {
            display: none;
         }
         .main--post2 {
            display: none;
         }
         .main--post3 {
            display: none;
         }
         .main__description--page--link {
            display: none;
         }
         .main__description--text {
            gap: 0px;
         }
         .main__posts {
            background-color: white;
            display: flex;
            flex-direction: column;
         }
          .main__card--paragraph {
            display: none;
          }
    .main__cards {
       display: grid;
      

    }
    .main {
        padding-left: 26px;
    }
          .main__card {
 
            display: flex;
            align-items: flex-start;
            flex-direction: column;
          }
          .footer {
            display: flex;
            max-width: 320px;
            width: fit-content;
          }
          .footer__parapgrap {
            max-width: 320px;
          }
          .footer__info {
            justify-content: center;
            align-items: center;
            max-width: 320px;
            width: fit-content;
          }
          .adaptive-ui {
            max-width: 320px;
            width: fit-content;
            display: flex;
          }
          .burger-menu {
            position: relative;
            width: 44px;
     height: 37px;
        background: #000000;
          }
          .burger-menu-column.active  {
            display: block;
            position: absolute;
            width: 182px;
         height: 208px;
         margin-left: 150px;
        background: #F5F5F5;
          }
          .burger-menu-column {
            display: none;
          }
          .lnk-brg {
            font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 22px;
/* identical to box height, or 200% */

display: flex;
align-items: center;
letter-spacing: 1.1px;
text-transform: uppercase;

color: #4E4E4E;
text-decoration: none;
gap: 8px;}

          }
          .adaptive-ui {
            padding-left: 250px;
          }

         .brg {
            display: block;
         }

     .lnk-brg:hover {
        color: #57A4A4;

     }

     
   

   
