@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin fontstylebasic {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    }
   @mixin fontbig {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
   }
